{% extends '__index.html' %}
{% block title %}
<div class="topbar-title">
	<div class="title">Магазин на карті</div>
	<div class="title-description">Маршрут від вашого місцезнаходження<br> до найближчого маркету BULKA</div>
</div>
{% endblock %}
{% block body %}
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.870952343083!2d26.577966615365714!3d48.68883187927119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4733c7f300a8fbc9%3A0xe2aec67195e8c546!2sBulka+Market!5e0!3m2!1sru!2sus!4v1530718282700" allowfullscreen></iframe>
</div>
{% endblock %} 