{% extends '__index.html' %}
{% block title %}
<div class="topbar-title">
	<div class="title">Поточні акції</div>
	<div class="title-description"><b>Маркет</b> на Вул. Шевченка 3,<br> м. Кам’янець-Подільский</div>
</div>
{% endblock %}
{% block body %}
<div class="sale">
			<div class="col-3">
				<div class="item">
					<img src="/img/product.png" alt="product" class="product">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-6">
				<div class="item">

					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-3">
				<div class="item">
	
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
	</div>
	<div class="sale">
			<div class="col-6">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-3">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-3">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
	</div>
	<div class="sale">
			<div class="col-3">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-3">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
			<div class="col-6">
				<div class="item">
					<div class="name">Консерви</div>
					<div class="description">Шпроти в олії ТМ «Своя<br> лінія» - 240 г</div>
					<div class="date">22.06-29.06</div>
					<div class="old_price">22,30<sup>грн</sup></div>
					<div class="new_price">18,99<sup>грн</sup></div>
				</div>
			</div>
	</div>
{% endblock %} 